.DS_Store
/configuration.php
/.idea
/_install
/vendor
/build/packaging
/build/packages/*
!/build/packages/.placeholder
/uploads/companies/*
/uploads/deals/*
/uploads/people/*
/install_data.txt
