div#com_cobalt_menu_wrap { display:inline; }
div#com_cobalt_toolbar { border-bottom: 1px solid #e5e6e7; margin-bottom: 20px;}
div#com_cobalt_toolbar ul { display:inline; margin:0; padding:0; }
div#com_cobalt_toolbar ul li { display:inline; padding:0px; }
div#com_cobalt_toolbar ul li a { display:inline; text-decoration:none; padding: 6px; zoom: 1;}
div#com_cobalt_toolbar #user_functions {margin: 0; padding: 0;}